# Managed by GNX access
[Unit]
Description=GNX split DNS (.gnx)
Wants=gnx-access.service
After=gnx-access.service

[Container]
Image=docker.io/dockurr/dnsmasq@sha256:2067f17b31ace4e3fff2a6e341aef98cbc91be8c7c282e5c1225a160dd3754f5
ContainerName=gnx-dns
Network=bridge
PublishPort=@IP@:53:53/udp
PublishPort=@IP@:53:53/tcp
Volume=@STATE@/dnsmasq.conf:/etc/dnsmasq.conf:ro
LogDriver=none

[Service]
Restart=always
RestartSec=5
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target
